@using Kategori.Models
@model Category

@{
    ViewData["Title"] = "UpdateUrun";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3>Kategori Düzenle</h3>

<form action="/Admin/UpdateCategory" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Id</label>
        <input type="text" class="form-control" value="@Model.CategoryId" name="CategoryId" readonly />
    </div>
    <div class="form-group">
        <label>Kategori İsmi</label>
        <input type="text" class="form-control" value="@Model.CategoryName" name="CategoryName" />
    </div>
    <div class="form-group">
        <label>Kategori Açıklaması</label>
        <input type="text" class="form-control" value="@Model.CategoryDescription" name="CategoryDescription" />
    </div>
    <div class="form-group">
        <label>Kategori Durumu</label>
        <input type="text" class="form-control" value="@Model.CategoryStatus" name="CategoryStatus" />
    </div>
    <button type="submit" class="btn btn-primary" value="kaydet">Kaydet</button>
</form>