@using Kategori.Models
@model List<Urunler>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var a in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <img class="card-img-top" src="~/Image/@a.ImgName" alt="Card image cap">
                    <br />
                    <h5 class="card-title">@a.Name</h5>
                    <h6 class="card-text">@a.Price TL</h6>
                    <p class="card-text">@a.Description.Substring(0,20) ...</p>
                    <p class="card-text">
                        <a class="btn btn-danger read-m" href="/Home/UrunDetails/@a.Id/">Ürün Detay</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>


